.logo {
    height: 6rem;
    background-image: url("https://cdn.dribbble.com/users/60166/screenshots/11468745/media/1b8851064d0542cb5a9ee44444800032.jpg?compress=1&resize=320x240&vertical=top");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}