.pTagInBlogs {
    height: 6rem;
    overflow: hidden;
}

.singleBlogContainer {
    text-align: center;
    margin: 5rem auto;
    width: 80%;
}
.singleBlogContainer section {
    margin-bottom: 5rem;
}
.singleBlogContainer h5 {
    margin-bottom: 2rem;
}