@use './HeaderAndFooter/side.scss';
@use './ColorsAndFonts/colors.scss';
@use './ColorsAndFonts/fonts.scss';
@use './blogs/blog.scss';
@use "./ColorsAndFonts/colors" as *;
@use './contact/contact.scss';
@use './career/career.scss';
@use './HeaderAndFooter/header';
@use './home/home';
@use './awards/awards.scss';
@use './about/about.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: $light-color;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .page-content {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.dark {
  background-color: $dark-color;
  color: $light-color;
  height: 100%;
}
